<div class="flex justify-content-center">
  <div class="form flex justify-content-center flex-column">
    <mat-card class="my-card">
      <div class="heading">
        <h1>Notes</h1>
      </div>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z0">
        <ng-container matColumnDef="details">
          <td mat-cell *matCellDef="let element"> 
            <div class="firstElement">
              <div>{{element.date}}</div><div>{{element.name}}</div> 
            </div></td>
        </ng-container>

        <ng-container matColumnDef="message">
          <td mat-cell *matCellDef="let element"> {{element.message.length > 111 ? (element.message.slice(0, 111) + "...") : element.message }} </td>
        </ng-container>

        <ng-container matColumnDef="link">
          <td mat-cell *matCellDef="let element"> <a href="" style="text-decoration:none"> View Note </a>  </td>
        </ng-container>

        <tr mat-row *matRowDef="let emprow; columns: displayedColumns"></tr>
      </table>
      <mat-paginator
        #paginator
        [pageSizeOptions]="pageSizes"
        hidePageSize
      ></mat-paginator>
    </mat-card>
  </div>
</div>
