<div class="flex justify-content-center">
    <div class="form flex justify-content-center flex-column">
        <p-card [style]="{'width': '50rem', 'margin-bottom': '2em', 'margin-top': '5em'}">
            <ng-template pTemplate="header">
                <span class="p-buttonset">
                    <button pButton pRipple label="Year" (click)="onCalendarChange('Year')"></button>
                    <button pButton pRipple label="Month" (click)="onCalendarChange('Month')"></button>
                    <button pButton pRipple label="Day" (click)="onCalendarChange('Day')"></button>
                    <button pButton pRipple label="Custom" (click)="onCalendarChange('Custom')"></button>
                </span>
                <p-calendar #myCalendar [(ngModel)]="selectedDate" [showIcon]="true" [view]="view" [dateFormat]="dateFormat" [selectionMode]="selectionMode" clear></p-calendar>
            </ng-template>
        </p-card>
    </div>
</div>