<div class="flex justify-content-center">
    <div class="form flex justify-content-center flex-column">
        <p-card [style]="{'width': '50rem', 'margin-bottom': '2em', 'margin-top': '5em'}">
            <div class="my-header">
                <span class="p-buttonset">
                    <button pButton label="Year" [class.p-button-outlined]="selectedButton === 'year'" (click)="onCalendarChange('Year')"></button>
                    <button pButton label="Month" [class.p-button-outlined]="selectedButton === 'month'" (click)="onCalendarChange('Month')"></button>
                    <button pButton label="Day" [class.p-button-outlined]="selectedButton === 'day'" (click)="onCalendarChange('Day')"></button>
                    <button pButton label="Custom" [class.p-button-outlined]="selectedButton === 'custom'" (click)="onCalendarChange('Custom')"></button>
                </span>
                <p-calendar #myCalendar [(ngModel)]="selectedDate" [showIcon]="true" [view]="view" [dateFormat]="dateFormat" [selectionMode]="selectionMode" clear></p-calendar>
                <p-button label="Apply"></p-button>
            </div>
        </p-card>
    </div>
</div>